<h1>What do you think Annabelle will look like?</h1>

<div>
	<%= form_for @face do |f| %>
</div>
<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div>
	<%= f.label :baby %>
	<%= f.file_field :pic %>
</div>
<div>
	<%= f.submit %>
</div>
<% end %>