<h1>Welcome to <br>Guess Natalie's Age!</h1>
<%= form_for @nat do |n| %>
	<div class = "col-lg-12 col-xs-12 well" align = "center">
		<div class = "field">
			<%= n.label :name, label = "Username" %>
			<%= n.text_field :name %>
		</div>
		<div class = "field">
			<%= n.label :age0, label = "Picture1" %>
			<%= n.text_field :age0 %>
		</div>
		<div class = "field">
			<%= n.label :age1, label = "Picture2" %>
			<%= n.text_field :age1 %>
		</div>
		<div class = "field">
			<%= n.label :age2, label = "Picture3" %>
			<%= n.text_field :age2 %>
		</div>
		<div class = "field">
			<%= n.label :age3, label = "Picture4" %>
			<%= n.text_field :age3 %>
		</div>
		<div class = "field">
			<%= n.label :age4, label = "Picture5" %>
			<%= n.text_field :age4 %>
		</div>
		<div class = "field">
			<%= n.label :age5, label = "Picture6" %>
			<%= n.text_field :age5 %>
		</div>
		<div class = "field">
			<%= n.label :age6, label = "Picture7" %>
			<%= n.text_field :age6 %>
		</div>
		<div class = "field">
			<%= n.label :age7, label = "Picture8" %>
			<%= n.text_field :age7 %>
		</div>
		<div class = "field">
			<%= n.label :age8, label = "Picture9" %>
			<%= n.text_field :age8 %>
		</div>
		<div class = "field">
			<%= n.label :age9, label = "Picture10" %>
			<%= n.text_field :age9 %>
		</div>
		<div class = "field">
			<%= n.submit %>
		</div>
	</div>

<% end %>