<h1>Welcome to Guess Con's Age!</h1>
<%= form_for @con do |c| %>

	<div>
		<%= c.label :name %>
		<%= c.text_field :name %>
	</div>
	<div>
		<%= c.label :age0 %>
		<%= c.text_field :age0 %>
	</div>
	<div>
		<%= c.label :age1 %>
		<%= c.text_field :age1 %>
	</div>
	<div>
		<%= c.label :age2 %>
		<%= c.text_field :age2 %>
	</div>
	<div>
		<%= c.label :age3 %>
		<%= c.text_field :age3 %>
	</div>
	<div>
		<%= c.label :age4 %>
		<%= c.text_field :age4 %>
	</div>
	<div>
		<%= c.label :age5 %>
		<%= c.text_field :age5 %>
	</div>
	<div>
		<%= c.label :age6 %>
		<%= c.text_field :age6 %>
	</div>
	<div>
		<%= c.label :age7 %>
		<%= c.text_field :age7 %>
	</div>
	<div>
		<%= c.label :age8 %>
		<%= c.text_field :age8 %>
	</div>
	<div>
		<%= c.label :age9 %>
		<%= c.text_field :age9 %>
	</div>
	<div>
		<%= c.submit %>
	</div>


<% end %>